.maincontainer{
  width: 100%;
  height: 100%;
  background: #CAD3C8;
  justify-content: center;
  display: flex;
  align-items: center;
 
}
.box{
  width: 80%;
  height: auto;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
}

.headstyle{
  color:#303952; 
  font-family: Merriweather;
  font-size: 20px;
  font-weight: bold;
}

.centerstyle{
  display: flex;
  justify-content: center;
  align-items: center;
}


.mainc{
  width: 100%;
  height: 100%;
  background: #a2eb92;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.sbox{
  width: 50%;
  height: auto;
  background:#fff;
  border-radius: 15px;
  padding: 10px;

}
.ftpc{
  font-family: Merriweather;
  font-size: 40px;
  justify-content: center;
  align-items: center;

  font-style: Merriweather;
  

}

.loginmaincontainer{
  width: 100%;
  height: 100%;
  background: #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.loginbox{
  width: 90%;
  height: auto;
  background: #fff;
  
}

.sn{
  display: flex;
  justify-content: center;
  font-family: merriweather;
  font-weight: bolder;
  font-size: 30;
  margin-bottom: 10%;
}

/* dashboard styles */
.dmaincontainer{
  width: 100vw;
  height: 100vh;
  background: #CAD3C8;
  display: flex;
  flex-direction: column;

}
.dbox
{
  width: 100%;
  height: 70px;
  background: #ff6348;
}
.appbarstyle
{
  width: 98%;
  display: flex;
  align-items: center;
}
.logostyle{
  font-family: kanit; font-size: 32px; font-weight: bold; 
  color: #fff; margin-left: 1%; 
}
.logoutstyle{
  font-family: kanit; font-size: 25px; font-weight: bold;
  color: #fff; margin-left: auto;
}
.sidebaar{
  height: 100%;
  width: 15%;
  background: #fff;

}
.admintextstyle{
  font-family: kanit;  font-size: 16px; font-weight: bold;
  display: flex;
  justify-content: center;
}
.contentstyle{
  font-family: kanit; font-size: 12px; font-weight: bold;
  display: flex; align-items: center; color: cornflowerblue;
  flex-direction: column; 
}
.menustyle{
  font-family: kanit; font-size: 16px; font-weight: bold; 
  display: flex; margin-left:40px ;flex-direction: column;
  margin-top: 20px;
}
.itemstyle{
  margin-top: 20px;
}
.mainbodystyle{
  margin-top: 20px;
  width: 100%;
}


.showcard{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.mainbox{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CAD3C8;

}
.boxtable
{
  width: 90%;
  height: auto;
  background: #fff;
  border-radius: 15px;
  padding: 15px;
}
  